.about-company {
    padding: 4.2rem 0 8.5rem 0;
    position: relative;

    .titles-text {
        .title-transparent {
            margin: initial;
            font-family: Montserrat, sans-serif;
        }

        .title {
            margin: initial;
            color: initial;
        }
    }

    .about-company__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4.6rem;

        .about-company__content--info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            //height: 30rem;

            .info__data {
                margin-bottom: 5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                .info__data__year {

                    display: flex;
                    align-items: center;
                    /*  width: 450px;
                    background: #353535;
                    border-radius: 0px 34px 34px 0px;
                    padding: 20px 0; */

                    .number {
                        font-size: 3.45rem;
                        line-height: 3.45rem;
                        color: $green-color;
                        font-weight: 500;
                        margin: 0 1rem 0 0;
                    }

                    &::before {
                        content: '';
                        background: #353535;
                        border-radius: 0px 34px 34px 0px;
                        padding: 20px 0;
                        width: 45%;
                        height: 90px;
                        position: absolute;
                        left: 0;
                        z-index: -1;
                    }
                }

                .info__data__text {
                    font-weight: 300;
                    font-size: 1.2857rem;
                    line-height: 18px;
                    color: rgba(41, 41, 41, 0.6);
                    width: 37rem;
                    padding-top: 4.8rem;
                }
            }
        }

        .info__people {
            position: absolute;
            right: 0%;

            img {
                width: 705px;
                height: 857px;
                object-fit: scale-down;
                -webkit-touch-callout: none;
                /* iOS Safari */
                -webkit-user-select: none;
                /* Chrome/Safari/Opera */
                -khtml-user-select: none;
                /* Konqueror */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                user-select: none;
            }
        }
    }
}

.our-target {
    padding-bottom: 8.5rem;

    .titles-text {
        .title {
            color: inherit;
        }
    }

    .our-target__infa {
        min-height: 26.07rem;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: 0.5s background ease;
        padding: 0;

        .our-target__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            bottom: 0;
            right: 0;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 75%;
            border-radius: 7px;
        }

        .our-target__data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: inherit;
            color: $second-color;

            .titles-text {
                width: 100%;
                margin-bottom: 4rem;

                .title-transparent {
                    -webkit-text-stroke: 1px #ffffff26;
                }
            }

            .data__desc {
                width: 53.7rem;
                font-size: 1.4286rem;
                line-height: 1.4286rem;
                font-weight: 300;
            }
        }
    }
}

.our-advantage {
    .our-advantage__data {
        padding-top: 4.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .data__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FFFFFF;
            border: 1px solid #F5F5F5;
            box-sizing: border-box;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
            border-radius: 7px;
            width: 254.77px;
            height: 255px;
            text-align: left;
            transition: all 0.3s ease-in-out;

            .data__item--title {
                font-size: 15px;
                line-height: 16px;
                font-weight: 400;
                padding: 48px 20px 0 20px;
            }

            .data__item--number {
                line-height: 70px;
                text-align: right;
                text-transform: uppercase;
                font-size: 90px;
                font-weight: 700;
                -webkit-text-stroke: 1px $green-color;
                color: transparent;
                pointer-events: none;
                padding-right: 29px;
                padding-top: 10px;
                -webkit-touch-callout: none;
                /* iOS Safari */
                -webkit-user-select: none;
                /* Chrome/Safari/Opera */
                -khtml-user-select: none;
                /* Konqueror */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                user-select: none;
            }

            &:hover {
                box-shadow: 14px 11px 15px rgba(0, 0, 0, 0.15);

                .data__item--number {
                    transition: 0.5s background ease;
                    background: linear-gradient(0deg, #4C8A2D 30%, #7BE25D 70%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #0B2349;
                }
            }
        }
    }

    .swiper-container {
        height: auto;
        padding-bottom: 8.5rem;
    }

    .swiper-slide {
        justify-content: flex-start;
        background-color: inherit;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        top: initial;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-size: cover;
        background-repeat: no-repeat;
        width: calc(var(--swiper-navigation-size)/20*30);
        height: 48px;
    }

    .swiper-button-prev {
        background-image: url("/assets/img/icons/arrow_left.svg");
    }

    .swiper-button-next {
        background-image: url("/assets/img/icons/arrow_right.svg");
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        content: none;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        content: none;
    }
}


.certificates {
    padding-bottom: 8.5rem;

    .certificates__slider {
        height: 480px;

        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 240px;
            height: 315px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            object-fit: contain;
        }

        .swiper-slide-active {
            filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.4));
        }

        .swiper-button-next,
        .swiper-button-prev {
            background-size: cover;
            background-repeat: no-repeat;
            width: calc(var(--swiper-navigation-size)/20*30);
            height: 48px;
        }

        .swiper-button-prev {
            background-image: url("/assets/img/icons/arrow_left.svg");
        }

        .swiper-button-next {
            background-image: url("/assets/img/icons/arrow_right.svg");
            right: auto;
            left: 10%;
        }

        .swiper-button-next:after,
        .swiper-container-rtl .swiper-button-prev:after {
            content: none;
        }

        .swiper-button-prev:after,
        .swiper-container-rtl .swiper-button-next:after {
            content: none;
        }

        .certificates__text {
            width: 446px;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            color: rgba(41, 41, 41, 0.7);
            padding-top: 4.6rem;
        }
    }
}


@media screen and (max-width: 1200px) {
    .our-advantage {

        .swiper-button-next,
        .swiper-button-prev {
            display: block;
            top: auto !important;
            bottom: 10%;
            margin: 0 auto;
        }

        .swiper-button-next {
            right: 20%;
        }

        .swiper-button-prev {
            left: 20%;
        }
    }
}

@media screen and (max-width: 960px) {
    .about-company {
        .titles-text .title-transparent {
            bottom: 8px;
        }

        .about-company__content {
            flex-direction: column;

            .about-company__content--info {
                .info__data {
                    margin-bottom: 4.2rem;

                    &:last-child {
                        margin-bottom: 4.2rem;
                    }

                    .info__data__year {
                        width: 100%;

                        &::before {
                            width: 95%;
                        }
                    }

                    .info__data__text {
                        width: auto;
                    }
                }
            }

            .info__people {
                position: relative;
                margin: 0 auto;

                img {
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .our-target .our-target__infa .our-target__data {
        .titles-text {
            .title-transparent {
                bottom: 8px;
            }
        }

        .data__desc {
            width: auto;
        }
    }

    .our-advantage .our-advantage__data {
        padding-top: 4.1rem;
    }

    .certificates {
        .titles-text .title-transparent {
            bottom: 8px;
        }

        .certificates__slider {
            height: 600px;

            .certificates__text {
                padding: 3rem 0 2.8rem 0;
                width: auto;
            }

            .swiper-button-next,
            .swiper-button-prev {
                display: block;
                top: auto !important;
                bottom: 0%;
                margin: 0 auto;
            }

            .swiper-button-next {
                right: 20%;
                left: auto;
            }

            .swiper-button-prev {
                left: 20%;
            }

            .swiper-pagination {
                bottom: 80px;

            }
        }
    }
}