.contacts {
    padding: 110px 0 120px 0;

    .titles-text {
        margin-bottom: 65px;
    }

    .contacts__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .contacts__content--info {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            height: 30rem;

            .info__data {
                display: flex;
                align-items: center;
                padding-right: 12rem;
                height: 70px;

                .data__text {
                    padding-left: 3.5rem;
                    font-weight: 500;
                }

                &::before {
                    content: '';
                    background: #fff;
                    border-radius: 7px;
                    padding: 15px 0 15px 0;
                    width: 35%;
                    height: 70px;
                    position: absolute;
                    left: 0;
                    z-index: -1;
                }

                &:hover::before {
                    transition: all 0.2s ease;
                    box-shadow: (3px 3px 10px #00000012);
                }
            }
        }

        .info__map {
            border-radius: 7px;
            width: 730px;
            height: 410px;

            iframe {
                width: 730px;
                height: 410px;
            }
        }
    }
}

.form-request {
    padding-bottom: 7.8rem;

    .titles-text {
        margin-bottom: 65px;
    }

    .form-request__content {
        min-height: 33.7rem;
        //overflow: hidden;
        position: relative;
        width: 100%;
        transition: 0.5s background ease;
        padding: 0;

        .form__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            bottom: 0;
            right: 0;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 75%;
            border-radius: 7px;
        }

        .form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: flex-start;
            padding: 70px 50px;

            .form__input {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                input {
                    width: 484px;
                    background: #F9F9FB;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    box-sizing: border-box;
                    border-radius: 7px;
                    margin-top: 25px;
                    padding: 22px;
                    font-weight: 500;

                    &::placeholder {
                        opacity: 0.7;
                    }

                    &:last-child {
                        margin-bottom: 25px;
                    }
                }
            }

            .form__area {
                display: flex;
                flex-flow: column wrap;

                textarea {
                    width: 484px;
                    height: 190px;
                    background: #F9F9FB;
                    border-radius: 7px;
                    margin-bottom: 26px;
                    padding: 22px;
                    font-weight: 500;

                    &::placeholder {
                        opacity: 0.7;
                    }
                }

                input.checkbox {
                    appearance: auto;
                }

                label {
                    color: $second-color;
                    font-weight: 300;
                    font-family: Montserrat, sans-serif;
                    line-height: normal;
                    padding-left: 10px;
                }

                div {
                    display: inline-flex;
                    align-items: center;
                }
            }

            .button {
                background: linear-gradient(0deg, #4C8A2D 0%, #7BE25D 100%);
                color: $second-color;
                padding: 1.4rem 8rem;
                font-weight: 500;
                font-size: 20px;
                line-height: 20px;
                margin: 2.2857rem auto 0;
                width: auto;

                &:hover::before {
                    left: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .contacts .contacts__content .contacts__content--info .info__data {
        &::before {
            width: 95%;
        }
    }
}


@media screen and (max-width: 768px) {
    .contacts {
        .titles-text {
            margin-bottom: 25px;

            .title-transparent {
                font-size: 50px;
                bottom: 8px !important;
            }
        }

        .contacts__content {
            width: 100%;

            .contacts__content--info {
                width: 100%;

                .info__data {
                    width: 100%;
                    justify-content: flex-start;
                    padding: 15px 15px;
                }
            }

            .info__map iframe {
                width: 100%;

            }
        }
    }

    .form-request {
        .titles-text {
            .title-transparent {
                font-size: 50px;
                bottom: 8px !important;
            }
        }

        .form-request__content .form {
            .form__input input {
                width: 450px;
            }

            .form__area {
                align-items: center;

                textarea {
                    width: 450px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .form-request {
        .titles-text {
            .title-transparent {
                bottom: 50px !important;
            }
        }

        .form-request__content .form {
            padding: 50px 20px;

            .form__input {
                width: 100%;

                input {
                    width: 100%;
                }
            }

            .form__area {
                textarea {
                    width: 100%;
                    height: 222px;
                }
            }

            .button {
                font-size: 18px;
                padding: 1.4rem 0;
                width: 100%;
            }
        }
    }
}