.form__order {
    position: absolute;
    width: 100%;
    margin-top: -5rem;
    z-index: 99;

    form {
        background: #FFFFFF;
        box-shadow: 0px 4px 10px 5px #E4E3E3;
        border-radius: 10px;

        .form__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 25px 25px 15px;

            input {
                width: 437px;
                height: 71px;
                background: #FFFFFF;
                border: 3px solid #00A3D5;
                box-sizing: border-box;
                border-radius: 10px;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 1.5rem;
                color: #000000;

                &::placeholder {
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: #5D5C62;
                }

                &:focus {
                    background: transparent;
                    border-color: $green-color;
                }

                &:active {
                    background: transparent;
                    border-color: $green-color;
                }
            }

            .button {
                width: auto;
                padding: 1.3125rem 5.3125rem;
                margin-bottom: 0;
            }
        }

        .form__text {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 15px;

            img {
                width: 26px;
                height: 26px;
                object-fit: scale-down;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                color: #28282E;
                padding-left: 18px;
                line-height: 19px;
            }
        }
    }
}

.sale {
    min-height: 845px;
    //overflow: hidden;
    position: relative;
    width: 100%;
    transition: 0.5s background ease;
    padding: 0;

    .sale__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .sale__bg__mobile {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .sale__content {
        display: flex;
    }


    .sale__text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 640px;
        width: 720px;
        //margin-left: auto;
        z-index: 1;

        div {
            &:first-child {
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-top: 4.4375rem;
            }
        }

        .sale__title {
            font-size: 4rem;
            font-weight: 600;
            line-height: 4.875rem;
            padding-bottom: 0.75rem;
            display: flex;
            flex-direction: column;
        }

        .sale__desk {
            color: $default-color;
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 1.875rem;
        }

        .button {
            position: relative;
            overflow: hidden;
            text-align: left;
            margin-right: auto;
            background-color: $green-color;
            padding: 14px 40px;

            &::before {
                content: "";
                background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.5));
                height: 85px;
                width: 50px;
                position: absolute;
                top: -8px;
                left: -82px;

                transform: skewX(-45deg);
            }

            &:hover::before {
                left: 332px;
                transition: 1.2s ease;
            }
        }
    }
}

.catalog {
    padding: 8rem 0 5.31rem 0;

    .catalog__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .catalog__cards--item {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 380px;
            height: auto;
            flex-direction: column;
            background-color: $second-color;
            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin-bottom: 2.85rem;
            transition: box-shadow .25s ease 0s !important;

            .item__bg {
                display: block;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }

            .item__data {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 175px;
                background: #00A3D5;
                opacity: 0.86;
                border-radius: 0 0 10px 10px;
                /*  display: flex;
                align-items: flex-end;
                justify-content: center; */
            }

            .catalog__cards--item__img {
                position: absolute;
                bottom: 5%;
                right: 2%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .catalog__cards--item__desck {
                text-align: left;
                padding: 30px 15px 0 30px;

                ul {
                    padding-top: 30px;

                    li {
                        color: $second-color;
                        font-family: 'Roboto', sans-serif;
                        font-size: 24px;
                        font-weight: 300;
                        line-height: 28px;
                    }
                }
            }

            .catalog__cards__price {
                font-family: 'Roboto', sans-serif;
                font-size: 3.4375rem;
                font-weight: 500;
                line-height: 64px;
                color: $default-color;
                margin-bottom: 2.5rem;
            }

            .catalog__cards--item__title {
                color: $second-color;
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-weight: 500;
            }

            .catalog__cards--item__button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                margin-top: auto;

                .catalog__button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                }
            }

            &:hover {
                box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
            }
        }
    }
}


.dry-cleaning {
    min-height: 971px;
    //overflow: hidden;
    position: relative;
    width: 100%;
    transition: 0.5s background ease;
    padding: 0;

    .dry-cleaning__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .title {
        color: $second-color;
        padding-top: 6rem;
    }

    .dry-cleaning__label {
        color: $second-color;

        .mark {
            position: absolute;
            z-index: 99;


            .mark__text {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 23px;
                text-align: center;
            }

            .mark__number {
                background-color: #BCBACA;
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
                font-weight: 500;
                line-height: 56px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                width: 100px;
                height: 100px;
            }

            .mark__line {
                position: absolute;
            }

            &:nth-child(1) {
                top: 22%;
                left: 20%;

                .mark__text {
                    margin-bottom: 25px;
                    width: 190px;
                }

                .mark__line {
                    top: 73%;
                }
            }

            &:nth-child(2) {
                top: 33%;
                right: 19%;

                .mark__text {
                    position: relative;
                    right: 40%;
                    bottom: 4rem;
                }


                .mark__number {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            &:nth-child(3) {
                bottom: 6%;
                left: 4%;

                .mark__text {
                    margin-top: 5px;
                }

                .mark__line {
                    position: relative;
                }

                .mark__number {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }

            &:nth-child(4) {
                bottom: 9%;
                right: 10%;

                .mark__text {
                    margin-top: 5px;
                }

                .mark__line {
                    position: relative;
                }

                .mark__number {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .button {
        position: absolute;
        z-index: 99;
        width: fit-content;
        margin: auto;
        bottom: 7%;
        padding: 18px 90px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 50%);

        &:hover {
            background-color: $blue-color;
        }
    }
}


.tabs {
    padding: 4.4375rem 0 4rem 0;

    .buttonWrapper {
        /*  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 2.375rem;
    }

    button {
        position: relative;
        flex: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: 0.5s;
        padding: 40px;
        color: $default-color;
        cursor: pointer;
        line-height: 1.75rem;
        background-color: $second-color;

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        /* &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: calc(50% - 18px);
            height: 32px;
            width: 1px;
            background: #b70b10;
        } */

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            display: inline-block;
            right: 0;
            top: calc(50% - 35px);
            height: 78px;
            width: 1px;
            background: rgba(152, 150, 168, 0.6);
        }
    }

    button:hover {
        background-color: #d5e3ff;
    }

    button.active {
        background-color: $green-color;
        color: $second-color;
    }

    .active {
        background-color: white;
    }

    .content {
        display: none;
        min-height: 760px;
        position: relative;
        width: 100%;
        transition: 0.5s background ease;
        padding: 0;

        .content__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            bottom: 0;
            right: 0;
            overflow: hidden;
            background-size: cover;
            background-color: rgba(0, 0, 0, 0);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .content__info {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            min-height: 760px;
            font-family: 'Roboto', sans-serif;

            >div {
                background: rgba(227, 227, 227, 0.9);
                min-height: 760px;
                width: 50%;
                padding: 40px;
            }

            .info__title {
                text-align: center;
                color: $default-color;
                font-size: 2.25rem;
                font-weight: 500;
                padding-bottom: 1.55rem;
            }

            ul {
                li {
                    padding-bottom: 25px;
                    font-size: 1.5rem;
                    list-style-type: disc;

                    /* &::before {
                        content: '';
                        display: inline-block;
                        height: 12px;
                        width: 12px;
                        background: #00A3D5;
                        border-radius: 50px;
                        margin-right: 1.25rem;
                    } */
                    &::marker {
                        color: $blue-color;
                    }
                }
            }

            .button {
                position: relative;
                overflow: hidden;
                background: $blue-color;
                margin: auto;
                width: max-content;
                padding: 20px 90px;
                margin-top: 33px;

                &::before {
                    content: "";
                    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.5));
                    height: 85px;
                    width: 50px;
                    position: absolute;
                    top: -8px;
                    left: -82px;

                    transform: skewX(-45deg);
                }

                &:hover::before {
                    left: 332px;
                    transition: 1.2s ease;
                }

                &:active {
                    background: #5A9D2C;
                }

                :focus {
                    background: #5A9D2C;
                }
            }
        }
    }
}

.content.active {
    display: block;
}


.why-us {
    padding: 4.375rem 0 9rem 0;

    .why-us__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;

        .item {
            width: 460px;

            >div {
                &:first-child {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }
            }

            .item__title {
                color: $default-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 2.125rem;
                padding-left: 1.25rem;
            }

            .item__desk {
                color: rgba(59, 57, 73, 0.7);
                font-family: 'Roboto', sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.75rem;
            }
        }
    }
}


.first-order {
    min-height: 855px;
    position: relative;
    width: 100%;
    padding: 0;

    .first-order__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        bottom: 0;
        right: 0;
        overflow: hidden;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .first-order__form {
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        font-family: Roboto, sans-serif;

        .form__data {
            background: rgba(239, 239, 241, 0.66);
            min-height: 855px;
            width: 50%;
            padding: 75px 55px 115px 55px;

            .form__title {
                text-align: center;
                color: $default-color;
                font-family: 'Montserrat', sans-serif;
                font-size: 2.5rem;
                font-weight: 600;
                line-height: 3.125rem;
                padding-bottom: 2.625rem;

                span {
                    color: $blue-color;
                }
            }

            form {
                input {
                    background: #FFFFFF;
                    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
                    border: 2px solid $second-color;
                    border-radius: 10px;
                    width: 100%;
                    padding: 35px 0;
                    text-align: center;
                    font-size: 1.5rem;
                    margin-bottom: 27px;

                    &::placeholder {
                        color: #74727D;
                    }

                    &:focus {
                        border-color: $blue-color;
                    }

                    &:active {
                        border-color: $blue-color;
                    }
                }

                .input__tel {
                    position: relative;
                    width: 100%;

                    .mask {
                        position: absolute;
                        width: 107px;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: $blue-color;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    input[type=tel] {
                        margin-bottom: 0;
                    }
                }

                .button {
                    width: auto;
                    margin-top: 3.75rem;
                    background: $blue-color;
                    padding: 1.4rem 5.3rem;
                }
            }
        }
    }
}

.reviews {
    padding: 8.5rem 0 10rem;
}


.about-us {
    .title {
        padding-bottom: 5.4rem;
    }

    .about-us__content {
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                padding-bottom: 4.7rem;
            }

            img {
                width: 100%;
            }

            .item__title {
                font-size: 36px;
                font-weight: 500;
                color: $default-color;
                line-height: 42px;
                padding-bottom: 1.5rem;
            }

            .item__text {
                width: 55%;
                font-family: 'Roboto', sans-serif;
                font-size: 1.125rem;
                font-weight: 500;
                color: #74727D;
                line-height: 21px;
                padding-right: 45px;

                p {
                    padding-bottom: 1rem;
                }

                ul,
                li {
                    list-style-type: auto;
                }
            }
        }

        .item_2 {
            flex-direction: row-reverse;

            .item__text {
                padding-right: 0;
                padding-left: 70px;
            }
        }
    }

    .author {
        padding: 2.18rem 0;

        .author__text {
            background: rgba(0, 163, 213, 0.04);
            border-left: 5px solid $blue-color;
            padding: 25px 25px 25px 65px;
            color: $default-color;
            font-family: 'Roboto',
                sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
    }
}


@media screen and (max-width: 1600px) {
    .sale {
        min-height: 695px;
    }
}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {
    .form__order {
        form {
            align-items: center;

            .form__input {
                padding: 15px 15px 15px;

                input {
                    width: 350px;
                }

                .button {
                    //width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .sale {
        .sale__text {
            height: auto;
            width: auto;
        }
    }

    .form__order {
        form {
            align-items: center;

            .form__input {
                flex-direction: column;

                input {
                    width: 50%;
                    margin-bottom: 10px;
                }

                .button {
                    width: 50%;
                }
            }
        }
    }

    .catalog {
        padding-top: 20rem;
    }

}


@media screen and (max-width: 960px) {
    .form__order {
        form {
            .form__input {

                input {
                    width: 100% !important;
                }

                .button {
                    width: 100% !important;
                }
            }
        }
    }

    .first-order {
        min-height: 720px;

        .first-order__form {
            .form__data {
                min-height: 720px;
                width: 100%;
                padding: 40px 28px 28px 28px;

                form {
                    input {
                        margin-bottom: 20px;
                    }

                    .button {
                        margin-top: 1.875rem;
                    }
                }
            }
        }
    }

    .about-us {
        .about-us__content {
            .item {
                flex-direction: column;

                &:not(:last-child) {
                    padding-bottom: 1.7rem;
                }

                .item__text {
                    width: 100%;
                    padding: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .sale {
        min-height: 500px !important;

        .sale__text {
            width: 60% !important;

            >div {
                &:first-child {
                    margin-top: 1.25rem;
                }
            }

            .sale__title {
                font-size: 30px;
                line-height: 40px;
            }

            .sale__desk {
                font-size: 22px;
            }

        }
    }

    .catalog {
        .catalog__cards {
            justify-content: space-around;

            .catalog__cards--item {
                width: 300px;

                .catalog__cards--item__title {
                    font-size: 1.3125rem;
                }

                .catalog__cards--item__desck {
                    li {
                        font-size: 1rem;
                    }
                }

                .catalog__cards__price {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .dry-cleaning {
        min-height: 460px;

        .title {
            font-size: 30px;
            padding-top: 2rem;
        }

        .dry-cleaning__label {
            .mark {
                display: none;
            }
        }

        .button {
            bottom: 10%;
        }
    }

    .tabs {
        button {
            border: 0.5px solid rgba(59, 57, 73, 0.5);
            border-radius: 10px;
            font-size: 14px;
            flex: 1;

            &:not(:last-child)::after {
                display: none;
            }

        }

        .content {
            .content__info {
                >div {
                    width: 100%;
                }
            }
        }
    }

    .about-us {
        .about-us__content {
            .item {

                .item__title {
                    font-size: 26px;
                }

                .item__text {
                    font-size: 1rem;
                }
            }
        }

        .author {
            .author__text {
                padding: 25px 25px 25px 35px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .form__order {
        margin-top: -2rem;

        form {
            .form__input {

                input {
                    font-size: 1.125rem;

                    &::placeholder {
                        font-size: 1.125rem;
                    }
                }

                .button {
                    padding: 1.4rem 0;
                }
            }

            .form__text {
                padding: 0 35px 11px;

                p {
                    font-size: 13px;
                    padding-left: 11px;
                }
            }
        }
    }

    .sale {
        min-height: 365px !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 218px;
            height: 100%;
            background: rgba(116, 114, 125, 0.71);
        }

        .sale__content {
            padding-top: 24px;
        }

        .sale__bg {
            display: none;
        }

        .sale__bg__mobile {
            display: block;
        }

        .sale__text {
            width: 190px !important;

            >div {
                &:first-child {
                    margin-top: 0;
                }
            }

            .sale__title {
                font-size: 22px;
                line-height: 27px;
            }

            .sale__desk {
                font-size: 1rem;
                color: $second-color;
                line-height: 19px;
            }

            .button {
                padding: 10px 0;
                font-size: 18px;
                margin: 0;
                text-align: center;
            }
        }
    }

    .catalog {
        padding: 3rem 0;

        .title {
            padding-bottom: 1.25rem;
        }

        .catalog__cards {
            .catalog__cards--item {
                width: 100%;

                .catalog__cards--item__img {
                }

                .catalog__cards--item__desck {
                    margin-bottom: 14px;

                    li {
                    }
                }

                .catalog__cards__price {
                    font-size: 2.2rem;
                    line-height: 40px;
                    margin-bottom: 14px;
                }
            }
        }
    }

    .dry-cleaning {
        min-height: 360px;

        .dry-cleaning__bg {
            background-position: right;
        }

        .button {
            bottom: 12%;
            padding: 18px 60px;
        }
    }

    .tabs {
        button {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 0px;
            }

            &:nth-child(2) {
                border-top-right-radius: 10px;
            }

            &:nth-child(5) {
                border-bottom-left-radius: 10px;
            }

            &:last-child {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 10px;
            }
        }

        .content {
            .content__info {
                .info__title {
                    font-size: 30px;
                }

                ul li {
                    padding-bottom: 14px;
                    font-size: 1rem;
                }

                .button {
                    width: 100%;
                    padding: 18px 20px;
                }
            }
        }
    }

    .first-order {
        min-height: auto;

        .first-order__form {
            .form__data {
                min-height: 600px;

                .form__title {
                    font-size: 1.875rem;
                }

                form {
                    input {
                        padding: 25px 0;
                        font-size: 1.125rem;
                    }

                    .input__tel {
                        .mask {
                            font-size: 1.125rem;
                            width: 70px;
                        }
                    }

                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }

    .why-us {
        padding: 0 0 3rem;

        .why-us__content {
            align-items: flex-start;
            row-gap: 3rem;
            column-gap: 0;

            .item {
                width: 160px;

                >div {
                    &:first-child {
                        align-items: flex-start;
                    }
                }

                .item__title {
                    font-size: 1.25rem;
                    line-height: 1.4375rem;
                    padding-left: 0.6875rem;
                }

                img {
                    width: 44px;
                }

                .item__desk {
                    font-size: 1rem;
                    line-height: 1.1875rem;
                }
            }
        }
    }
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        position: relative;
        overflow: hidden;
        padding: 1.4rem 3rem;
        width: 100%;
        font-size: 1.5rem;
        background: $green-color;
        color: $second-color;

        &::before {
            content: "";
            background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1), hsla(0, 0%, 100%, 0.5));
            height: 85px;
            width: 50px;
            position: absolute;
            top: -8px;
            left: -82px;

            transform: skewX(-45deg);
        }

        &:hover::before {
            left: 332px;
            transition: 1.2s ease;
        }
    }
}

@media screen and (max-width: 330px) {
    .sale {
        .lift__img {
            left: 5.5rem !important;
        }
    }

    .tabs {
        button {
            padding: 20px;
        }
    }

    .first-order .first-order__form .form__data {
        padding: 30px 10px 10px;
    }
}



/*Modal Style*/
.blocker {
    z-index: 99 !important;
}

#ex1 {
    background: #FAFAFA;
    box-shadow: 4px 6px 35px rgba(0, 0, 0, 0.17);
}


.modal {
    padding: 62px 102px !important;
    max-width: max-content !important;

    .modal-content {
        position: relative;
        background: inherit;
        overflow: hidden;
        margin: 0 auto;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            font-weight: 500;
            line-height: 46px;
            color: $default-color;
            text-align: center;
            padding-bottom: 4.1rem;
        }

        .modal-form {
            position: relative;
            z-index: 2;

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input[type="text"] {
                    margin-bottom: 2.5rem;
                }

                input[type="text"],
                input[type="tel"] {
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    background-color: transparent;
                    border-bottom: 0.8px solid #3F3F3F;
                    font-size: 16px;

                    &::placeholder {
                        font-family: 'Montserrat', sans-serif;
                        color: $default-color;
                        font-size: 16px;
                        line-height: 15px;
                    }
                }

                .button {
                    color: $second-color;
                    background-color: $green-color;
                    margin-top: 4.5rem;
                    padding: 12px 32px;

                    &:hover {
                        background: linear-gradient(90deg, #e5fbc7 -625%, #cdf09c -435.3%, #b1dd03 -36.01%, #29695b 203.4%);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .modal {
        padding: 0 !important;

        .modal-content {
            padding: 25px 25px;
        }
    }

    form {
        .title {
            font-size: 1.2rem;
            text-align: center;
            line-height: 2rem;
        }

        .button {
            padding: 1.4rem 0;
        }

    }
}



@media screen and (max-width: 480px) {
    .modal {
        transform: scale(1);
        padding: 15px 20px !important;

        .modal-content {
            padding: 0 !important;

            .modal-form .form .button {
                font-size: 1rem;
            }
        }
    }

    form .form-input {
        .add-input {
            font-size: 16px;
        }

        .input__checkbox label {
            font-size: 10px;
        }
    }
}

/*End Modal*/