// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/assets/fonts/Montserrat/Montserrat-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}